<!-- menu.html -->
<!-- Home Button Icon and Menu Icon in the same container -->
        <div class="home-menu-container">
            <div class="home-icon">
                <a href="/" title="Home">🏠</a>
            </div>

            <!-- Menu Icon next to Home Icon -->
            <div id="menu-button" class="menu-icon" onclick="openNav()">&#9776; Menu</div>
        </div>
		
		

    <!-- Side Drawer Menu -->
    <div id="side-drawer" class="side-drawer">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul id="menu-list"></ul> <!-- Menu populated from menu.csv -->
    </div>

